/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/
examples/tests/appium_logs/
node_modules
pkg
Reports

Gemfile.lock
.DS_Store
.solargraph.yml
*.json
*.html
*.js
!cucumber_report_generator.js
.rubocop.yml

# rspec failure tracking
.rspec_status
*.apk

chromedriver
/appium_logs

*.mov
*.mp4
*.txt
tests/appium_logs/*
bin/*
